/* Resets */

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Layout */

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex: 0 50px;
}

textarea {
  flex: 1;
}

footer {
  display: none;
  flex: 0 30px;
}

/* Components */

header,
footer {
  font-family: 'Open Sans';
}

header {
  background-color: #38a5f8;

  color: white;
  line-height: 50px;
}

  header h1 {
    padding: 0 30px 0 10px;

    font-size: 2.2rem;
    font-weight: 300;
    line-height: 46px;
  }

nav {
  display: flex;
}

nav a {
  display: block;
  height: 100%;
  padding: 0 10px;
  position: relative;

  cursor: pointer;

  color: currentColor;
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: none;
}

  nav a:hover {
    background-color: #2e85c7;
  }

    nav a:hover ul {
      max-height: 80px;
      visibility: visible;
    }

nav ul {
  left: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  width: 150px;

  background-color: white;
  border: 2px solid #38a5f8;
  border-top-width: 0;
  list-style-type: none;

  color: black;
  line-height: 1;

  transition: all 350ms;
}

  nav ul li {
    padding-left: 35px;
    padding-right: 15px;

    font-weight: 400;
    line-height: 28px;
  }

    nav ul li:first-of-type {
      margin-top: 10px;
    }

    nav ul li:last-of-type {
      margin-bottom: 10px;
    }

    nav ul li:hover {
      background-color: #f3f3f3;
    }

textarea {
  border: 10px solid white;
  outline: none;
  resize: none;

  font-family: 'Lucida Console';
  font-size: 1.4rem;
  white-space: nowrap;
}

footer {
  padding-left: 75%;

  border-top: 1px solid #ccc;

  color: #666;
  font-size: 1.2rem;
  line-height: 30px;
}

/* Options */

.option-status-bar footer {
  display: block;
}

.option-word-wrap textarea {
  white-space: normal;
}

.option-status-bar [data-option='status-bar'],
.option-word-wrap [data-option='word-wrap'] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAWElEQVR42t3TwQ0AEAwF0I5iNJt2BKMY4ftxkSA0/k2TdxKltLaJTE6YeF87RKJCuCiUdpsrIahOSdaTYzcZNeNRJnMhgZNB8UEC+RHlbxQbSW9lfZjkcW5BBM9xaVlxuwAAAABJRU5ErkJggg==');
  background-position: 17px center;
  background-repeat: no-repeat;
  background-size: 8px;
}

/* Icons */

.icon-new {
  padding-left: 40px;

  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAQAAABvcdNgAAAACXBIWXMAAAsTAAALEwEAmpwYAAABeElEQVRYw+2YXbmEIBCGiUAEIxjBCEYgAhFsYAQjGMEIRjACEb5zcR5gxLPrsLLf1Zm9XOB1fhnGGIXAYsSMDQFSAjbMGGHNc4GFw4o7WeEe4GAxFTq8k4DpIxh8BSTDfB2kw3455MACj0H8PBYcl3U7Oi1mLHQ5ML3ejA5TgQsYNRhXQJzR7TrD7nZhObu3yuDn0Fm02uzoqwOoP/nWvfaNzAz7YUrIrBv/dmpQqX0PW4Txr0EklF4f15Os1X5Nz+wb26Bw5c/25z9CUrY3LWpkL060MjCj3AZ0XKgI9vJMoc+h+FYlyJiUwlEnkT2uKag8N8XIobK+GiR0Wn8Np/ZPNSj7ycp60DUHdaJGYK4xXB1IGG822OrKTiUolqPNpND2XwHFihPSRgxfAQ1p/TtQbW/yD+KD2gYDLbxpCUsrQbSiyromaBcf8ypnNSe0dovYQNJaYmKTT3y20B5ixKcl8bFMfP4TBxrEEQ1x6EQdoxEHg21HnT8QvvzrnxspbgAAAABJRU5ErkJggg==');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 26px;
}

.icon-dropdown {
  padding-right: 25px;

  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAARklEQVR42p3MQQoAIAwDwfz/E31qRHoIiLjYHLWzsl2ara17NcEbyln94gSOCOMsDxy53j4/GPMBY4oA5ghgiADmCGOOEF6A6TLQ8AhqygAAAABJRU5ErkJggg==');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 8px 6px;
}
